.formily-element-plus-form-item-control-content-component {
  display: flex;
}

.formily-element-plus-form-default form {
  display: contents;
}

.formily-element-plus-array-table {
  width: 100%;
}

.formily-readonly {
  [readonly]:not([readonly="false"]) {
    &, & * {
      pointer-events: none!important;
    }
  }
}
