@use "element-plus/theme-chalk/src/index.scss" as *;
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import "./formily.scss";
@import "./element-ui.scss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  .el-date-editor{
    --el-date-editor-datetimerange-width: 100%;
  }
}

.query-provide {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  gap: 12px;

  .el-date-editor {
    --el-date-editor-width: auto;
    --el-date-editor-monthrange-width: auto;
    --el-date-editor-daterange-width: auto;
    --el-date-editor-datetimerange-width: auto;
  }

  .formily-element-plus-form-item-feedback-layout-loose {
    margin-bottom: 12px;
  }
}

.query-form {
  padding: 0;
}
